<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW4Ut0hUKR9KemfSjOZ60OZaUgx0CxfwI</string>
	<key>GCM_SENDER_ID</key>
	<string>1066048447991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acepharm.app</string>
	<key>PROJECT_ID</key>
	<string>acepharm-uk</string>
	<key>STORAGE_BUCKET</key>
	<string>acepharm-uk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066048447991:ios:fdf4035c96848d5fc63af2</string>
</dict>
</plist>