# API & App Endpoints (Cloudflare Live)
NEXT_PUBLIC_API_URL=https://acepharm-api.takweencentreuk.workers.dev
NEXT_PUBLIC_SITE_URL=https://acepharm-marketing.pages.dev
NEXT_PUBLIC_APP_URL=https://acepharm-app.pages.dev
NEXT_PUBLIC_CUSTOM_DOMAIN_SITE=https://acepharm.co.uk
NEXT_PUBLIC_CUSTOM_DOMAIN_APP=https://app.acepharm.co.uk
